
.SH-icon
{
	width: 45px !important; 
	height: 50px !important;
	display: inline-block;
}
#map-on 
{ 
 
	background: url(../img/icons.png) 0 0 ;
}

#map-off
{
  background: url(../img/icons.png) -44px 0;
}
#camera-on 
{
  background: url(../img/icons.png) -93px 0;
}
#camera-off 
{
 background: url(../img/icons.png) -155px 0;
}
#chat 
{
 background: url(../img/icons.png) -210px 0;
}
#info 
{
  background: url(../img/icons.png) -260px 0;
}

#report 
{
   background: url(../img/icons.png) -310px 0;
}



