<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Smart Helmet</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/icons.css" rel="stylesheet">

    <link href="../static/css/sticky-footer-navbar.css" rel="stylesheet">

	<style>
      #map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }
    </style>

  </head>

  <body>

    <header>
    	    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    </header>






    <div class="w-100 alert-info alert text-center" style="	margin-bottom: 0px;"><h2 id="tt" style="color:black;">Smart Helmet</h2></div>
    
    <img  id="video" class="w-100 image rounded" style="top:-40px;" alt="img" src="{{ url_for('video_feed') }}">

 

    <div class="container">

        <div class="row">
        	 <div id="counter" style="border-color:transparent; color:black; font-size: 30px;" class="col-12 w-100 alert alert-primary"></div>
             <div class="col alert-danger" style="height: 500px;" id="map"></div>
        </div>
   	

    
    </div>   



    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 40.830476, lng:-73.914400},
          zoom: 17
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'your current location.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0xOFOlUY5igZuPT94_-v_vcvw_L5cz-0&callback=initMap">
    </script>



    <footer class="footer text-center">
    	 <span class="glyphicon glyphicon-asterisk"></span> <span class="glyphicon glyphicon-asterisk"></span>
      <div class="container">
              <!--i class="fa fa-spinner fa-spin fa-3x fa-fw"></i-->
	<div class="SH-icon alert-danger" id="map-on"></div>
	<div class="SH-icon alert-danger" id="map-off"></div>
	<div class="SH-icon  alert-danger" id="camera-on"></div>
	<div class="SH-icon alert-danger" id="camera-off"></div>
	<div class="SH-icon alert-danger" id="chat" style=""></div>
	<div class="SH-icon alert-danger" id="info"></div>
	<div class="SH-icon alert-danger" id="report"></div>   
   


      </div> 
    </footer>

    <!-- Bootstrap core ambula

    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../static/js/func.js"></script>

    <script type="text/javascript">
    	$(function() { 
    $("#camera-on").hide();
    $("#map-on").hide();
});
 function fullscreen(){
	        var element = document.documentElement;
	        if (element.mozRequestFullScreen) {
	            element.mozRequestFullScreen();
	        } else if (element.webkitRequestFullScreen) {
	            element.webkitRequestFullScreen();
	        }
	    }

$( "#camera-off,#camera-on" ).click(function() 
{
  $( "#camera-off,#camera-on" ).toggle();
  $( "#video" ).toggle( "slow");

});

$( "#map-off,#map-on" ).click(function() 
{
  $( "#map-off,#map-on" ).toggle();
  $( "#map" ).toggle( "slow");
 
});

$( "#chat" ).click(function() {
 fullscreen();
});
    	var t=0;
    	window.setInterval(function()
    	{      		         	
        var text="";
         	//Get background color from backend 
		    $.ajax(
		    {
  		      url: "/update",
  		      type: "get",
  		      data: {jsdata: text},
  		      success: function(response) {

  		        $("#counter").html("Distance: "+parseFloat(response).toFixed(2)+ " ft");
 		if(response < 6  && response > 3)
  		        {
  		           	//window.navigator.vibrate(in mill);
  		          	window.navigator.vibrate(1800);
  		        	$('body').css('background-color', "#ffff00");
  		        $('#tt,#counter').css('background-color', "#ffff00");
  	         
 		}else if(response < 3)
  		        {
  		           	//window.navigator.vibrate(in mill);
  		          	window.navigator.vibrate(1800);
  		        	$('body').css('background-color', "#ff0000");
  		        $('#tt,#counter').css('background-color', "#ff0000");
  	          }else{

			$('body').css('background-color', "#d1ecf1");
  		        $('#tt,#counter').css('background-color', "#d1ecf1");
		}
  		      
  		      },
  		      error: function(xhr) {
  		        //handle error
  		        console.log(xhr);
  		      }
		    });
		    }, 200);
    	$( document ).ready(function() {
    	 $("#fullscreen").click();
    	fullscreen();
		});
    </script>
    <script src="../static/js/bootstrap.min.js"></script>

  	
	
	









  </body>
</html>
 
