<!DOCTYPE html>
<html>
<title>SmartHelmet</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
<style>
header {
text-align: center;
background: skyblue;
color: white;
font-size:48px;
font-family: "Arial Black", Gadget, sans-serif;

}

  #map {
    width: 1280px;
    height: 960px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1%;

    float: down;



  }

  #display {
    width: 1280px;
    height: 960px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    float: down;

  }

  .icon-bar {
    width: 100%;
    background-color: skyblue;
    overflow: auto;
    position: fixed;
    bottom: 0;
    text-align: center;
    z-index: 1000;
  }

  .icon-bar i {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
  }

  .icon-bar i:hover {
    background-color: blue;
  }

  .active {
    background-color: blue;
  }
</style>

<body>
  <header>SmartHelmet</header>
  <div id="display"></div>
  <div id="map"> </div>
  <footer>
  <div class="icon-bar">
    <i id="map_icon" class="fa fa-map"></i></a>
    <i id="video" class="fa fa-video-camera"></i>
    <i id="light" class="fa fa-lightbulb-o"></i>
    <i id="points" class="fa fa-braille"></i>
    <i id="misc" class="fa fa-trash"></i>
  </div>
</footer>
  <script src="../static/js/three.js"></script>
  <script src="../static/js/OrbitControls.js"></script>
  <script id="vs" type="x-shader/x-vertex">

    uniform sampler2D map;

		uniform float width;
		uniform float height;

		uniform float pointSize;
		uniform float zOffset;

		varying vec2 vUv;

		const float XtoZ = 1.11146; // tan( 1.0144686 / 2.0 ) * 2.0;
		const float YtoZ = 0.83359; // tan( 0.7898090 / 2.0 ) * 2.0;

		void main() {

			vUv = vec2(position.x / width, position.y / height);

			vec4 color = texture2D(map, vUv);
			float depth = (color.r + color.g + color.b) / 3.0;

			// Projection code by @kcmic


			vec4 pos = vec4(position.x,position.y,depth*zOffset,1.0);

			gl_PointSize = pointSize;
			gl_Position = projectionMatrix * modelViewMatrix * pos;

		}
	</script>

  <script id="fs" type="x-shader/x-fragment">
    uniform sampler2D map;
    uniform sampler2D rgb;
    uniform bool render_rgb;

			varying vec2 vUv;

			void main() {

				vec4 color = texture2D( rgb, vUv );
        vec4 color2 = texture2D( map, vUv );
        float avg = (color2.r+ color2.g+ color2.b)/3.0;
        if (render_rgb) {
					gl_FragColor = vec4( color.r, color.g, color.b, avg );
				} else {
				gl_FragColor = vec4( color.r-(1.0-color.r), color.g+(0.33-color.g), 0.0, avg );
			}

			}

		</script>

  <script>
    var scene, camera, renderer;
    var geometry, mesh, material, texture, rgb;
    var Wwidth = 640 * 2;
    var Wheight = 480 * 2;
    var display = document.getElementById('display');
    var col=["#ff0000","#ffff00","#00ff00"];
    var ws = new WebSocket("ws://"+window.location.hostname+":8000");
    ws.onmessage = function(evt)
    {
      var range = evt.data;
      document.body.style.background = col[range];
    };
    var map = L.map("map").setView([51.505, -0.09], 13);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
      maxZoom: 18,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1
    }).addTo(map);

    function onLocationFound(e) {
      var radius = e.accuracy / 2;

      L.marker(e.latlng).addTo(map)
        .bindPopup("You are within " + radius + " meters from this point").openPopup();

      L.circle(e.latlng, radius).addTo(map);
    }

    function onLocationError(e) {

    }

    map.on('locationfound', onLocationFound);
    map.on('locationerror', onLocationError);

    map.locate({
      setView: true,
      maxZoom: 16
    });
    init();
    animate();

    function init() {




      camera = new THREE.PerspectiveCamera(50, Wwidth / Wheight, 1, 1000);
      camera.position.set(0, 0, 640);

      scene = new THREE.Scene();
      var width = 640,
        height = 480;


      geometry = new THREE.BufferGeometry();

      var vertices = new Float32Array(width * height * 3);

      for (var i = 0, j = 0, l = vertices.length; i < l; i += 3, j++) {

        vertices[i] = j % width;
        vertices[i + 1] = Math.floor(j / width);

      }

      geometry.addAttribute('position', new THREE.BufferAttribute(vertices, 3));





      rgb = new THREE.TextureLoader().load("/video_feed");

      texture = new THREE.TextureLoader().load("/depth_feed");
      texture.minFilter = THREE.NearestFilter;
      rgb.minFilter = THREE.NearestFilter;

      material = new THREE.ShaderMaterial({

        uniforms: {
          "rgb": {
            value: texture
          },
          "map": {
            value: texture
          },
          "width": {
            value: width
          },
          "height": {
            value: height
          },
          "pointSize": {
            value: 2
          },
          "zOffset": {
            value: 512
          },
          "render_rgb": {
            value: false
          }

        },
        vertexShader: document.getElementById('vs').textContent,
        fragmentShader: document.getElementById('fs').textContent,
        blending: THREE.AdditiveBlending,
        depthTest: false,
        depthWrite: false,
        transparent: true

      });
      mesh = new THREE.Points(geometry, material);
      scene.add(mesh);
      mesh.position.x -= 320;
      mesh.position.y -= 240;








      renderer = new THREE.WebGLRenderer();
      renderer.setPixelRatio(window.devicePixelRatio);
      renderer.setSize(Wwidth, Wheight);
      display.appendChild(renderer.domElement);
      camera.position.set(0, 0, 1000);

      controls = new THREE.OrbitControls(camera, renderer.domElement);


      //
      window.addEventListener('resize', onWindowResize, false);

    }

    function onWindowResize() {

      camera.aspect = Wwidth / Wheight;
      camera.updateProjectionMatrix();

      renderer.setSize(Wwidth, Wheight);

    }



    function animate() {

      requestAnimationFrame(animate);

      render();

    }


    function render() {
      if (material.uniforms.render_rgb.value) {
        rgb.needsUpdate = true;
      }

      texture.needsUpdate = true;
      controls.update();
      renderer.render(scene, camera);

    }

    var toggle_map = true;
    var toggle_display = true;
    document.getElementById('map_icon').onclick = function() {
      toggle_map = !toggle_map;
      var m = document.getElementById('map');
      if (toggle_map) {
        m.style.display = 'block';
      } else {
        m.style.display = 'none';;
      }

    };
    document.getElementById('video').onclick = function() {
      window.location = "/";

    };
    document.getElementById('light').onclick = function() {
      if (material.uniforms.render_rgb.value) {
        material.uniforms.rgb.value = texture;
        material.uniforms.render_rgb.value = false;
      } else {
        material.uniforms.rgb.value = rgb;
        material.uniforms.render_rgb.value = true;
      }
    };
    document.getElementById('points').onclick = function() {
      toggle_display = !toggle_display;
      if (toggle_display) {
        display.style.display = "none";
      } else {
        display.style.display = "block";
      }

    };
    document.getElementById('misc').onclick = function() {
      console.log('click');
    };
  </script>
</body>

</html>
